In [7]:
import pandas as pd 
import numpy as np

In [8]:
#imported dataset to googledrive to work on colab and previewed with describe
df = pd.read_csv('/content/drive/MyDrive/country_vaccination_stats.csv')
df.describe()

       daily_vaccinations
count        1.442000e+03
mean         4.334959e+04
std          1.165367e+05
min          1.000000e+00
25%          1.659750e+03
50%          5.567000e+03
75%          2.797975e+04
max          1.126251e+06

In [9]:
#Question 4 -Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
#Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
#lambda for minimum values for grouped countries and if its not filled with minimum value then assign 0
df["daily_vaccinations"]=df.groupby("country")['daily_vaccinations'].transform(lambda x: x.fillna(x.min())).fillna(0)
df.head(20)

      country        date  daily_vaccinations   vaccines
0   Argentina  12/29/2020              6483.0  Sputnik V
1   Argentina  12/30/2020             15656.0  Sputnik V
2   Argentina  12/31/2020             15656.0  Sputnik V
3   Argentina    1/1/2021             11070.0  Sputnik V
4   Argentina    1/2/2021              8776.0  Sputnik V
5   Argentina    1/3/2021              7400.0  Sputnik V
6   Argentina    1/4/2021              6483.0  Sputnik V
7   Argentina    1/5/2021              7984.0  Sputnik V
8   Argentina    1/6/2021              8173.0  Sputnik V
9   Argentina    1/7/2021              8363.0  Sputnik V
10  Argentina    1/8/2021             10519.0  Sputnik V
11  Argentina    1/9/2021             11942.0  Sputnik V
12  Argentina   1/10/2021             13365.0  Sputnik V
13  Argentina   1/11/2021             14788.0  Sputnik V
14  Argentina   1/12/2021             14056.0  Sputnik V
15  Argentina   1/13/2021             13323.0  Sputnik V
16  Argentina   1/14/2021             13320.0  Sputnik V
17  Argentina   1/15/2021             13317.0  Sputnik V
18  Argentina   1/16/2021             12971.0  Sputnik V
19  Argentina   1/17/2021             12624.0  Sputnik V

In [10]:
#Question 5 - Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
#Grouped by country again  and get mean values for each country group then sort values by mean as descending and show first 3 rows
df_1 = df.groupby('country')['daily_vaccinations'].agg(['mean'])
df_1.sort_values(by='mean',ascending=False).head(3)

                        mean
country
United States  514833.702703
China          327220.081081
India          171920.545455

In [14]:
#What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.
#this question needs only output value so i grouped by date and summary all of them, thing is there is only one column has numeric value. so based on output i didnt specify to code ..
df.groupby('date').sum()

            daily_vaccinations
date
1/1/2021              937426.0
1/10/2021            1927589.0
1/11/2021            1981736.0
1/12/2021            2001262.0
1/13/2021            2195834.0
1/14/2021            2558868.0
1/15/2021            2871342.0
1/16/2021            2963700.0
1/17/2021            2944891.0
1/18/2021            3067223.0
1/19/2021            3279650.0
1/2/2021             1014630.0
1/20/2021            3341204.0
1/21/2021            2683719.0
1/22/2021            2772300.0
1/23/2021            2918389.0
1/24/2021            3005078.0
1/25/2021            2137679.0
1/3/2021             1070392.0
1/4/2021             1225923.0
1/5/2021             1363842.0
1/6/2021             1485255.0
1/7/2021             1636630.0
1/8/2021             1758746.0
1/9/2021             1844454.0
12/13/2020              6373.0
12/14/2020             10663.0
12/15/2020            201520.0
12/16/2020            202347.0
12/17/2020            202955.0
12/18/2020            203234.0
12/19/2020            209860.0
12/20/2020            351864.0
12/21/2020            360097.0
12/22/2020            438915.0
12/23/2020            484876.0
12/24/2020            554683.0
12/25/2020            586905.0
12/26/2020            609813.0
12/27/2020            642026.0
12/28/2020            683179.0
12/29/2020            761576.0
12/30/2020            836134.0
12/31/2020            874541.0